<footer class="footer">
    <div class="footer-content">
        <div class="social-links">
            <a href="https://www.facebook.com/kinan.mjeed.88" class="social-link" target="_blank">
                <i class="fab fa-facebook-f"></i>
                Facebook
            </a>
            <a href="https://www.instagram.com/techtouch0" class="social-link" target="_blank">
                <i class="fab fa-instagram"></i>
                Instagram
            </a>
            <a href="https://youtube.com/@kinanmajeed" class="social-link" target="_blank">
                <i class="fab fa-youtube"></i>
                YouTube
            </a>
            <a href="https://www.tiktok.com/@techtouch6" class="social-link" target="_blank">
                <i class="fab fa-tiktok"></i>
                TikTok
            </a>
        </div>
        
        <div class="copyright">
            جميع الحقوق محفوظة © {{ now.Year }} TechTouch
        </div>
    </div>
</footer>
